# MacOS .DS_Store files
*.DS_Store*

_targets/

02_fetch/out/*/*
03_process/out/*
04_viz_prep/out/*
05_visualize/out/*
!*.empty

### R ###
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# vim swap files
.swp
.*.swp
